body{
	  
		background-image: url("header.jpg");
	}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 280px;
	margin-bottom: 40px;

}

.fas{
	margin-left: 500px;
	color: grey;


}

.knop{
	float: right;
}