body{
		font-family: 'Roboto', sans-serif;
	    color: white;
		background-image: url("header.jpg");
	}


img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 40px;
	padding-top: 200px;


}

.fas{
	color: grey;


}

.knop{
	float: right;
}

.Home{
	margin-bottom: 200px;
}
li{
	display: inline-block;
	margin-right: 60px;
}

ul{
	margin-left: 380px;
}

.fa-cogs{
	margin-left: 15px;
}

.fa-copy{
	margin-left: 10px;
}

.fa-th{
	margin-left: 25px;
}

.fa-font{
	margin-left: 5px;
}
.fa-comment{
	color: grey;
	margin-left: 17px;
}
.navbar{
	background-color: white;
	height: 50px;
	width: 100%;
    margin: 0px;
    float: right;
    display: block;
}
.fa-home{
	margin-left: 5px;
}
.fa-rss{
	margin-left: 13px;
	float: right;
}
.fa-twitter{
	margin-left: 14px;
	color: grey;
	margin-bottom: 700px;
	float: right;
}
.fa-facebook-f{
	color: grey;
	float: right;
}

body{
	margin: 0px;
}
.fa-google-plus-g{
	color: grey;
	margin-bottom: 0px;
	float: right;

}